<div class="item rounded p-5" *ngIf="item.name !== ''">
  <div class="flex justify-end">
    <div (click)="deleteFile()" class="flex items-center justify-center p-2 rounded-full text-center cursor-pointer"
      style="background-color: #434343; width: 24px; height: 24px;">
      <span class="block text-white">
        <i class="fas fa-times text-white text-sm"></i>
      </span>
    </div>
  </div>
  <div class="flex flex-col justify-between" style="height: 90%;">
    <div>
      <h3 class="text-white text-xl font-bold overflow-hidden">
        {{ item.name }}
      </h3>
      <h4 class="text-gray-300">
        {{ item.type }}{{ type !== "dir" ? item.name.split("").reverse().join("").split(".")[0].split("").reverse().join("") : "" }}
      </h4>
    </div>

    <app-button (click)="type === 'dir' ? enterDir() : download() " [primary]="true" [text]="type === 'file' ? 'Download' : 'Enter'">
    </app-button>
  </div>
</div>
