@font-face {
  font-family: 'Sf Pro' ;
  src: url("./assets/fonts/FontsFree-Net-SFProText-Regular.ttf");
}

* {
  font-family: 'Sf Pro' !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
